.team{
  text-align: center;
  color: rgba(255, 255, 255, 0.980); 
  margin: 10px;
  padding: 20px;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;

}

.team-heading h3{
  font-size: 42px !important;
  font-weight: initial;
  align-items: flex-start;
  text-align: center;
  margin: 1px;
  padding: 8px;
}

#team-title{
  font-size: 0.9rem;
  text-align: center;
  font-weight: initial;
}

.team-member h4 {
  margin-top: 15px;
  font-size: 1.2rem;
  display: flex;
  font-weight: initial;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.team-links{
  padding: 4px; 
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.team-links a {
  padding: 3px; 
}

.row {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.team-member-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}