
#navbar{
  /* background-color: #5f5e5e; */
  background-color: rgb(50,54,60);
  /* background-color: rgb(44,48,56); */
  /* background-color: rgb(38,42,48); */
  width: 100%;
  height: 50px; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center; 
}



