#navbar{
  background-color: rgb(50,54,60);
  width: 100%;
  /* min-width: 750px;  */
  height: 50px; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center; 
}

#header-name {
  color: white; 
  padding: 0px 0px 0px 10px
}

.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}