#sidebar-container{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 30%;
  min-width: 150px; 
  height: 100%;
  justify-content: flex-start;
  float: right; 
  border: 1px solid black;
}

#tableName{
  display: flex;
}

#newTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  justify-content: flex-start;
}

#options {
  margin: 0;
}

#options span {
  margin-top: 0;
}

#options div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}


form{
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0px 10px;
}

select{
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
}

#fieldOptions {
  display: flex;
  justify-content: center;
  margin: 0;
}