.app-container{
  display: flex; 
  flex-direction: column; 
  width: 100%;
  height: 100%; 
}

.app-header-container{
  width: 100%; 
}

.app-body-container{
  display: flex; 
  flex-direction: column; 
  width: 100%;
  height: 100%; 
  border: 1px solid black;
}

ul{
  display: flex;
  height: 10%;  
}

ul{
  margin: 0;
}

li{
  border: 1.5px solid deeppink;
  font-size: 1.3em; 
  color: deeppink; 
  border-radius: 10px 10px 0px 0px; 
  width: 50%; 
  list-style-type: none; 
}

li:hover{
  background-color: deeppink;
  color: white; 
}

h1{
  margin-top: 0 !important;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

button{
  margin-top: 5px;
}

.table div span {
  margin-top: 5px;
}