.app-container{
  display: flex; 
  flex-direction: column; 
  width: 100%;
  height: 100%; 
}

.app-header{
  width: 100%; 
  text-align: center;
}

.app-body-container{
  display: flex; 
  flex-direction: column; 
  width: 100%;
  height: 100%; 
  /* border: 1px solid black; */
}

.tabs{
  width: 100%;
  height: 100%; 
}

/* 
ul{
  display: flex;
  height: 10%;  
}

ul{
  margin: 0;
}

li{
  border: 1.5px solid deeppink;
  font-size: 1.3em; 
  color: deeppink; 
  border-radius: 10px 10px 0px 0px; 
  width: 50%; 
  list-style-type: none; 
}

li:hover{
  background-color: deeppink;
  color: white; 
} */

h1{
  margin-top: 0 !important;
}

.loader{
  margin: 0 auto; 
}