

.app-container{
  display: flex; 
  flex-direction: column; 
  width: 100%;
  height: 100vh; 
}

.app-header{
  width: 100%; 
  text-align: center;
}

.app-body-container{
  display: flex; 
  flex-direction: column; 
  width: 100%;
  /* height: 100%;  */
}

.tabs{
  width: 100%;
  /* min-width: 750px;  */
}

h1{
  margin-top: 0 !important;
}

.loader{
  margin: 0 auto; 
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

button{
  margin-top: 5px;
}

.table div span {
  margin-top: 5px;
}