
.query-app {
  width: 100%;
  /* height: 100%;  */
  height: 65vh; 
  border: 1px solid blue; 
  display: flex;
  flex-direction: row; 
  padding: 0;
  margin: 0; 
}

.query-code-container {
  border: 1px solid green;
  width: 50%;
}

pre{
  text-align: left; 
}
