h1,h2,h3,h4,h5,h6,p{
  font-family: "Roboto", sans-serif
}

.codeHeader{
  text-align: center;
}

hr {
  color: white; 
  background: white; 
}

pre {
  opacity: 0.8;
  width: 100%;  
}

#column-filler-for-scroll {
  height: 100%; 
  width: 100%; 
}

.code-app {
  display: flex;
  flex-direction: row;
  position: relative; 
  width: 100vw;
  height: calc(100vh - 98px);
  min-height: 450px;
  /* min-width: 750px;  */
  padding: 0;
  margin: 0; 
  text-align: left; 
  color: white;
  background-color: rgb(54, 58, 66);
}

#code-container-client{
  position: relative; 
  width: 33.33%; 
  padding: 10px; 
  overflow: auto;
  border-left: 5px solid rgb(44,48,56);
}

#code-container-database{
  position: relative; 
  display: flex;
  flex-direction: column; 
  width: 33.33%; 
  padding: 10px; 
  overflow: auto;
  border-right: 5px solid rgb(44,48,56);
}

#code-container-server{
  position: relative; 
  width: 33.33%; 
  padding: 10px; 
  overflow: auto;
  border-right: 5px solid rgb(44,48,56);
  border-left: 5px solid rgb(44,48,56);
}

form {
  display: flex;
  
}