h1,h2,h3,h4,h5,h6,p{
  font-family: "Roboto", sans-serif
}

.codeHeader{
  text-align: center;
}

hr {
  color: white; 
  background: white; 
}

.code-app {
  display: flex;
  flex-direction: row;
  position: relative; 
  width: 100vw;
  height: calc(100vh - 98px);
  min-height: 450px;
  min-width: 750px; 
  padding: 0;
  margin: 0; 
  text-align: left; 
  color: white;
}

.code-container-side{
  width: 33.33%; 
  background-color: rgb(54, 58, 66);
  padding: 10px; 
  overflow: auto;
}

.code-container-middle{
  width: 33.33%; 
  background-color: rgb(54, 58, 66);
  border-left: 10px solid rgb(44,48,56);
  border-right: 10px solid rgb(44,48,56);
  padding: 10px; 
  overflow: auto;
}

.wallpaper {
  position: absolute;
  width: 90vw;
  height: 100%;
}