.sidebar-container{
  display: flex;
  flex-direction: column; 
  flex-shrink: 0; 
  /* overflow-y: auto;  */
  color: white;
  width: 250px;  
  background-color:  rgb(44,48,56);
}

.typeFieldInput {
  display: flex;
  align-items: flex-end;
}