.schema-app-container{
  display: flex; 
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.table-components-container{
  display: flex; 
  justify-content: flex-start; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  width: 70%;
}

.table{
  display: flex; 
  flex-direction: column; 
  border: 1px solid black;
  width: 200px; 
}