.schema-app-container{
  display: flex; 
  flex-direction: row-reverse;
  width: 100%;
  height: calc(100vh - 95px);
  border: 1px solid black;
}

.table-components-container{
  display: flex; 
  background-color: rgb(54,58,66);
  justify-content: flex-start; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  width: 100%;
  min-height: 300px;
  overflow: scroll;
}

.table{
  display: flex; 
  flex-direction: column; 
  width: 200px; 
  margin: 40px; 
  box-shadow: 2px 2px 7.5px black;
}

.field{
  display: flex; 
  justify-content: space-between;
  position: relative;
}
