.schema-app-container{
  display: flex; 
  flex-direction: row-reverse;
  width: 100%;
  min-height: 450px;
  height: calc(100vh - 98px);
  position: relative;
}

#sidebar-container {
  position: relative;
  background-color:  rgb(44,48,56);
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 250px; 
  justify-content: flex-start;
  flex-shrink: 0; 
}

.table {
  display: flex; 
  flex-direction: column; 
  width: 250px; 
  margin: 40px; 
  box-shadow: 3px 3px 12.5px black;
  background-color: rgb(54, 58, 66, 1);
}

.tableButton {
  width: 100%;
  height: 100%;
}

.type {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.field{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 5px 0;
}

.fieldContainer1 {
  position: relative;
  display: flex;
  width: 96%;
  left: 5px;
}

.fieldContainer2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}

.fieldButton {
  width: 240px;
  height: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: left;
  margin-left: 5px;
}

.delete-button {
  position: absolute;
  right: 5px;
}

.table-components-container{
  display: flex; 
  background-color: rgb(54, 58, 66);
  justify-content: flex-start; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  width: 100%;
  position: relative;
  height: auto; 
  overflow-y: auto;
  overflow-x: hidden;
}

.addField {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 40px;
  background-color: rgb(48, 48, 48);
  color: white;
  cursor: pointer;
  position: relative;
  width: 96%;
  left: 5px;
  margin: 5px 0;
}

.fieldBreak {
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
  background-color: rgba(200, 200, 200, 0.6);
}
